.theme-preview {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  border-radius: 16px;
  margin: 0 1rem 1rem 1rem;
}

.theme-preview_color {
  width: 100%;
  aspect-ratio: 4 / 3;
}
