.color-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px 15px;
}

.color-info {
  background-color: #aeaec1;
  border-radius: 20px 0 0 20px;
}

.color-card__display {
  height: 100px;
  border-radius: 0 20px 20px 0;
}

.color-card__role {
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 10px;
}

.color-card__value {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 0 10px;
}
